@page
@model Group_Project1.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
