@page
@model Group_Project1.Pages.Admins.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admin.AdminID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.AdminID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin.AdminName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.AdminName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin.AdminLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.AdminLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Admin.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
